<ion-content [fullscreen]="true">
  <section id="idEmpresa">
    <div>
      <img src="assets/img/logoMarkkar.png" alt="MarkkarLogo">
      <h1>Portal Markkar</h1>
    </div>
    <form #f="ngForm" (ngSubmit)="enviarLogin(f)">
      <input ngModel name="cnpj" maxlength="14" type="text" placeholder="Digite o CNPJ...">
      <span>{{ cnpjErr }}</span>
      <input ngModel name="token" type="text" placeholder="Digite seu Token...">
      <span>{{ err }}</span>
      <button type="submit">Buscar</button>
    </form>
  </section>
</ion-content>
