#imgBck{
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 0;
}
#idEmpresa{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;

  div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 13vh;
    margin-bottom: 45px;

    img{
      width: 30%;
      margin-bottom: 15px;
      max-width: 150px;
    }

    h1{
      color: white;
      margin: 5px 0 0 0 ;
      font-family: 'robotoBold';
    }
  }

  form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    input{
      border: var(--ion-color-primary) solid 1px;
      outline: 0;
      border-radius: 10px;
      padding: 5px;
      width: 80%;
      min-height: 36px;
      margin-bottom: 10px;
      background: transparent;
    }
    ion-button{
      width: 80%;
      --border-radius: 10px;
    }
  }
}
