<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/home/caixa-movel/sistema-vendas/produtos"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>pagamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce has-bouncing="false" forceOverscroll="false">
  <swiper
    id="swiper"
    #swiper
    [config]="{initialSlide: 0, speed: 400, allowTouchMove: false}"
  >
    <ng-template class="slide" swiperSlide>
      <div id="metodosPg">
        <div class="headerSlide">
          <ion-button
            (click)="slidePrev()"
            mode="ios"
            expand="block"
            fill="clear"
            shape="round"
          >
            <ion-icon slot="icon-only" style="color: var(--ion-color-dark2)" name="arrow-back-outline"></ion-icon>
          </ion-button>
          <h2>Forma de pagamento: <p style="margin: 6px 0 0 0 ; font-size: 1rem; color: gray;">{{metodoPg}}</p></h2>
          <ion-button
            [disabled]="metodoPg === 'Não selecionado' ? true : metodoPg === 'DINHEIRO' || metodoPg === 'PIX' ? true : false"
            (click)="slideNext()"
            mode="ios"
            expand="block"
            fill="clear"
            shape="round"
          >
            <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </div>
        <div class="opcoes">
          <ion-button (click)="metodoPg = formpg; metodoPg === 'DINHEIRO' || metodoPg === 'PIX' ? subirModal() : slideNext(); metodoPg === 'DINHEIRO' || metodoPg === 'PIX' ? porcLoad = 1 : porcLoad = .2" *ngFor="let formpg of formsPg" class="selectBtn" color="dark">
            <div>
              <ion-icon *ngIf="formpg === 'CARTÃO'" name="card-outline"></ion-icon>
              <img *ngIf="formpg === 'PIX'" src="assets/img/logoPix.png" alt="LogoPix"/>
              <ion-icon *ngIf="formpg === 'DINHEIRO'" name="wallet-outline"></ion-icon>
              {{formpg}}
            </div>
          </ion-button>
        </div>
      </div>
    </ng-template>
    <ng-template class="slide" swiperSlide>
      <div id="metodosPg">
        <div class="headerSlide">
          <ion-button
            (click)="slidePrev()"
            mode="ios"
            expand="block"
            fill="clear"
            shape="round"
          >
            <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
          </ion-button>
          <h2>Bandeira: <p style="margin: 6px 0 0 0 ; font-size: 1rem; color: gray;">{{bandeiraPg}}</p></h2>
          <ion-button
            [disabled]="bandeiraPg === 'Não selecionado' ? true : false"
            (click)="slideNext()"
            mode="ios"
            expand="block"
            fill="clear"
            shape="round"
          >
            <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </div>
        <div class="opcoes">
          <ion-button (click)="bandeiraPg = bandeira;slideNext();porcLoad = .4" *ngFor="let bandeira of bandeiras" class="selectBtn" color="dark">
            <div>
              {{bandeira}}
            </div>
          </ion-button>
        </div>
      </div>
    </ng-template>
    <ng-template class="slide" swiperSlide>
      <div id="metodosPg">
        <div class="headerSlide">
          <ion-button
            (click)="slidePrev()"
            mode="ios"
            expand="block"
            fill="clear"
            shape="round"
          >
            <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
          </ion-button>
          <h2>Rede Autoriza <p style="margin: 6px 0 0 0 ; font-size: 1rem; color: gray;">{{redeAutorizaPg}}</p></h2>
          <ion-button
            [disabled]="redeAutorizaPg === 'Não selecionado' ? true : false"
            (click)="slideNext()"
            mode="ios"
            expand="block"
            fill="clear"
            shape="round"
          >
            <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </div>
        <div class="opcoes">
          <ion-button (click)="redeAutorizaPg = rede;slideNext();porcLoad = .6"  *ngFor="let rede of redeAutoriza" class="selectBtn" color="dark">
            <div>
              {{rede}}
            </div>
          </ion-button>
        </div>
      </div>
    </ng-template>
    <ng-template class="slide" swiperSlide>
      <div id="parcelas">
        <div class="headerSlide">
          <ion-button
            (click)="slidePrev()"
            mode="ios"
            expand="block"
            fill="clear"
            shape="round"
          >
            <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
          </ion-button>
          <div>
            <h2>Parcelas</h2>
            <p style="color: gray; font-size: .7rem; margin: 0;">*Juros não calculado</p>
          </div>
          <ion-button
            (click)="slideNext()"
            mode="ios"
            expand="block"
            fill="clear"
            shape="round"
          >
            <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </div>
        <div class="opcoes">
          <ion-button class="selectBtn" color="dark">
            <h2>1x de {{convertReal(totalCarrinhoNum)}}</h2>
          </ion-button>
          <ion-button class="selectBtn" color="dark">
            <h2>2x de {{convertReal(2*totalCarrinhoNum)}}</h2>
          </ion-button>
          <ion-button class="selectBtn" color="dark">
            <h2>3x de {{convertReal(3*totalCarrinhoNum)}}</h2>
          </ion-button>
          <ion-button class="selectBtn" color="dark">
            <h2>4x de {{convertReal(4*totalCarrinhoNum)}}</h2>
          </ion-button>
        </div>
      </div>
    </ng-template>
  </swiper>
  <ion-modal
      #modal
      [isOpen]="true"
      [initialBreakpoint]="0.07"
      [breakpoints]="[0.07, heightW > 785 ? 0.35 : 0.8]"
      [backdropDismiss]="false"
      [backdropBreakpoint]="0.08"
    >
      <ng-template>
        <ion-content no-bounce has-bouncing="false" forceOverscroll="false">
          <div id="footer">
            <div id="wrpTop" style="width: 100%">
              <ion-progress-bar [value]="porcLoad"></ion-progress-bar>
              <div class="opcao">
                <h3>Forma de pagamento:</h3>
                <p>{{metodoPg}}</p>
              </div>
              <div class="opcao">
                <h3>Bandeira:</h3>
                <p>{{bandeiraPg}}</p>
              </div>
              <div class="opcao">
                <h3>Parcelas:</h3>
                <p>9x</p>
              </div>
              <div class="opcao">
                <h3>Qtn de produtos:</h3>
                <p>39 UN</p>
              </div>
            </div>
            <div id="wrpBot" style="width: 100%">
              <div id="total">
                <h3>Total:</h3>
                <p>{{totalCarrinho}}</p>
              </div>
              <div id="btns">
                <ion-button color="danger" (click)="cancelarCarrinho()">
                  Cancelar
                </ion-button>
                <ion-button [disabled]="true"> Finalizar </ion-button>
              </div>
            </div>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>
</ion-content>
