<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/home/caixa-movel/sistema-vendas/produtos"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>pagamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce has-bouncing="false" forceOverscroll="false">
  <swiper
    id="swiper"
    #swiper
    [config]="{initialSlide: 0, speed: 400, allowTouchMove: true}"
  >
    <ng-template class="slide" swiperSlide>
      <div id="metodosPg">
        <div class="headerSlide">
          <ion-button
            (click)="slidePrev()"
            mode="ios"
            expand="block"
            fill="clear"
            shape="round"
          >
            <ion-icon slot="icon-only" style="color: var(--ion-color-dark2)" name="arrow-back-outline"></ion-icon>
          </ion-button>
          <h2>Formas de pagamento</h2>
          <ion-button
            (click)="slideNext()"
            mode="ios"
            expand="block"
            fill="clear"
            shape="round"
          >
            <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </div>
        <div class="opcoes">
          <ion-button class="selectBtn" color="dark">
            <div>
              <ion-icon name="card-outline"></ion-icon>
              Cartão Debito
            </div>
          </ion-button>
          <ion-button class="selectBtn" color="dark">
            <div>
              <ion-icon name="card-outline"></ion-icon>
              Cartão Credito
            </div>
          </ion-button>
          <ion-button class="selectBtn" color="dark">
            <div>
              <img src="assets/img/logoPix.png" alt="" />
              Pix
            </div>
          </ion-button>
          <ion-button class="selectBtn" color="dark">
            <div>
              <ion-icon name="wallet-outline"></ion-icon>
              Dinheiro
            </div>
          </ion-button>
        </div>
      </div>
    </ng-template>
    <ng-template class="slide" swiperSlide>
      <div id="metodosPg">
        <div class="headerSlide">
          <ion-button
            (click)="slidePrev()"
            mode="ios"
            expand="block"
            fill="clear"
            shape="round"
          >
            <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
          </ion-button>
          <h2>Bandeiras</h2>
          <ion-button
            (click)="slideNext()"
            mode="ios"
            expand="block"
            fill="clear"
            shape="round"
          >
            <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </div>
        <div class="opcoes">
          <ion-button class="selectBtn" color="dark">
            <div>
              Visa
            </div>
          </ion-button>
          <ion-button class="selectBtn" color="dark">
            <div>
              Mastercard
            </div>
          </ion-button>
          <ion-button class="selectBtn" color="dark">
            <div>
              Maestro
            </div>
          </ion-button>
        </div>
      </div>
    </ng-template>
    <ng-template class="slide" swiperSlide>
      <div id="parcelas">
        <div class="headerSlide">
          <ion-button
            (click)="slidePrev()"
            mode="ios"
            expand="block"
            fill="clear"
            shape="round"
          >
            <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
          </ion-button>
          <div>
            <h2>Parcelas</h2>
            <p style="color: gray; font-size: .7rem; margin: 0;">*Juros não calculado</p>
          </div>
          <ion-button
            (click)="slideNext()"
            mode="ios"
            expand="block"
            fill="clear"
            shape="round"
          >
            <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </div>
        <div class="opcoes">
          <ion-button (click)="teste()" class="selectBtn" color="dark">
            <h2>1x de {{convertReal(totalCarrinhoNum)}}</h2>
          </ion-button>
          <ion-button class="selectBtn" color="dark">
            <h2>2x de {{convertReal(2*totalCarrinhoNum)}}</h2>
          </ion-button>
          <ion-button class="selectBtn" color="dark">
            <h2>3x de {{convertReal(3*totalCarrinhoNum)}}</h2>
          </ion-button>
          <ion-button class="selectBtn" color="dark">
            <h2>4x de {{convertReal(4*totalCarrinhoNum)}}</h2>
          </ion-button>
        </div>
      </div>
    </ng-template>
  </swiper>
  <ion-modal
      #modal
      [isOpen]="true"
      [initialBreakpoint]="0.07"
      [breakpoints]="[0.07, heightW > 785 ? 0.35 : 0.8]"
      [backdropDismiss]="false"
      [backdropBreakpoint]="0.15"
    >
      <ng-template>
        <ion-content no-bounce has-bouncing="false" forceOverscroll="false">
          <div id="footer">
            <div id="wrpTop" style="width: 100%">
              <ion-progress-bar [value]="swiper.swiperRef.activeIndex === 0 ? 0 : swiper.swiperRef.activeIndex === 1 ? .3 : .6"></ion-progress-bar>
              <div class="opcao">
                <h3>Forma de pagamento:</h3>
                <p>Dinheiro</p>
              </div>
              <div class="opcao">
                <h3>Bandeira:</h3>
                <p>mastercard</p>
              </div>
              <div class="opcao">
                <h3>Parcelas:</h3>
                <p>9x</p>
              </div>
              <div class="opcao">
                <h3>Qtn de produtos:</h3>
                <p>39 UN</p>
              </div>
            </div>
            <div id="wrpBot" style="width: 100%">
              <div id="total">
                <h3>Total:</h3>
                <p>{{totalCarrinho}}</p>
              </div>
              <div id="btns">
                <ion-button color="danger" (click)="cancelarCarrinho()">
                  Cancelar
                </ion-button>
                <ion-button [disabled]="true"> Finalizar </ion-button>
              </div>
            </div>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>
</ion-content>
