<ion-header>
  <ion-toolbar color="dark" style="height: auto">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">estoque</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content no-bounce has-bouncing="false" forceOverscroll="false">
  <div id="pesquisa">
    <ion-searchbar placeholder="Digite o nome..."></ion-searchbar>
    <span>ou</span>
    <ion-button color="dark" routerLink="/home/estoque/scanner">
      <ion-icon slot="start" name="barcode-outline"></ion-icon>
      Scanner
    </ion-button>
  </div>
  <div id="recentes">
    <ion-item lines="full">
      <ion-label color="primary">Recentes</ion-label>
    </ion-item>
    <ion-list lines="none">
      <ion-item-sliding>
        <ion-item [button]="true">
          <ion-label>
            teste
            <p>Cod: teste</p>
          </ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" >Deletar</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item-sliding>
        <ion-item [button]="true">
          <ion-label>
            teste2
            <p>Cod: teste2</p>
          </ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" >Deletar</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>
