<ion-header>
  <ion-toolbar color="dark" style="height: auto;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">estoque</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content no-bounce has-bouncing="false" forceOverscroll="false">
  <div class="produtos">
    <ion-item style="width: 100%" lines="none" color="secondary">
      <ion-label style="
      font-family: 'robotoBold';
      margin: 0;
      margin-bottom: 3px;
      font-size: 1.2rem;
    ">teste</ion-label>
    </ion-item>
    <div class="informacoes">
      <div class="informacao">
        <h2>nome:</h2>
        <p></p>
      </div>
      <div class="informacao">
        <h2>valor:</h2>
        <p></p>
      </div>
      <div class="informacao">
        <h2>quantidade:</h2>
        <p></p>
      </div>
      <div class="informacao">
        <h2>unidade:</h2>
        <p></p>
      </div>
      <div class="informacao">
        <h2>codigo:</h2>
        <p></p>
      </div>
      <div style="margin-bottom: 20px" class="informacao">
        <h2>id:</h2>
        <p></p>
      </div>
    </div>
  </div>
</ion-content>
<div id="scan" style="display: none;">
  <div id="backUp"></div>
  <div id="line"></div>
  <div id="backDown"></div>
</div>
