ion-button {
  --border-radius: 10px;
}
#produtos{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.addItem {
  width: 150px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid gray 1px;
  border-radius: 12px;

  ion-button {
    --padding-start: 5px;
    --padding-end: 5px;
  }

  input {
    background: transparent;
    border: none;
    width: 60px;
    text-align: center;
  }
}
#footer {
  background-color: var(--ion-color-dark);
  width: 100%;
  height: 150px;
  position: fixed;
  bottom: 0;
  left: 0;

  #total {
    margin: 10px 0;
    padding: 0 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      font-family: robotoBold;
    }
  }

  #btns {
    padding: 0 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    ion-button {
      --background:rgb(0, 182, 55);
      width: 130px;
      margin: 0 10px;
    }
  }
}
