<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/faturamento"></ion-back-button>
    </ion-buttons>
    <ion-title>caixa Movel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce has-bouncing="false" forceOverscroll="false">
  <ion-item lines="none">
    <ion-label style="text-transform: initial;">Centro de custo:</ion-label>
    <ion-select
      #ionSelect
      *ngIf="conectadoServeLocal"
      (ionChange)="centroscustosChange($event)"
      interface="alert"
      cancelText="Voltar"
      okText="Confirmar"
      placeholder="Selecione"
    >
      <ion-select-option *ngFor="let cc of centroscustos" [value]="{fire: cc.ccIdFb, sql: cc.ccIdSql}"
        >{{cc.nome}}</ion-select-option
      >
    </ion-select>
    <ion-select *ngIf="!conectadoServeLocal"
      #ionSelectOff
      (ionChange)="centroscustosChange($event)"
      interface="alert"
      placeholder="Selecione"
    >
      <ion-select-option *ngFor="let cc of centroscustos" [value]="cc.idCentroCusto"
        >{{cc.unidade}}</ion-select-option
      >
    </ion-select>
  </ion-item>
  <div style="width: 100%" id="span"></div>
  <ion-popover #popOver mode="ios" dismissOnSelect="true" arrow="true" (didDismiss)="popOverCloseEvent()" reference="trigger" trigger="span" side="bottom" alignment="end">
    <ng-template>
      <ion-content no-bounce has-bouncing="false" forceOverscroll="false">Escolha o <br>centro de custo</ion-content>
    </ng-template>
  </ion-popover>
  <div id="venda">
    <ion-button [disabled]="btnServerLocal" color="dark" (click)="navigateScanner()">
      <div>
        <ion-icon name="cash-outline"></ion-icon>
        Vender
      </div>
    </ion-button>
    <ion-button [disabled]="btnServerLocal" color="dark" (click)="navigateEstoque()">
      <div>
        <ion-icon slot="start" name="pie-chart-outline"></ion-icon>
        Estoque
      </div>
    </ion-button>
    <ion-button [disabled]="true" color="dark">
      <div>
        <ion-icon name="swap-vertical-outline"></ion-icon>
        Trocas
      </div>
    </ion-button>
    <ion-button color="dark" (click)="navigateRelatorios()">
      <div>
        <ion-icon name="reader-outline"></ion-icon>
        Relatórios
      </div>
    </ion-button>
    <ion-button [disabled]="true" color="dark">
      <div>
        <ion-icon name="extension-puzzle-outline"></ion-icon>
        Em Breve...
      </div>
    </ion-button>
    <ion-button [disabled]="true" color="dark">
      <div>
        <ion-icon name="extension-puzzle-outline"></ion-icon>
        Em Breve...
      </div>
    </ion-button>

  </div>
</ion-content>
