<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/faturamento"></ion-back-button>
    </ion-buttons>
    <ion-title>caixa Movel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="venda">
    <ion-button color="dark" [routerLink]="['carrinho']">
      <div>
        <ion-icon name="cash-outline"></ion-icon>
        Vender
      </div>
    </ion-button>
    <ion-button color="dark">
      <div>
        <ion-icon name="swap-vertical-outline"></ion-icon>
        Trocas
      </div>
    </ion-button>
    <ion-button color="dark">
      <div  style="font-size: .6rem;">
        <ion-icon name="extension-puzzle-outline"></ion-icon>
        Em Desenvolvimento...
      </div>
    </ion-button>
    <ion-button color="dark">
      <div  style="font-size: .6rem;">
        <ion-icon name="extension-puzzle-outline"></ion-icon>
        Em Desenvolvimento...
      </div>
    </ion-button>
    <ion-button color="dark">
      <div  style="font-size: .6rem;">
        <ion-icon name="extension-puzzle-outline"></ion-icon>
        Em Desenvolvimento...
      </div>
    </ion-button>
    <ion-button color="dark">
      <div  style="font-size: .6rem;">
        <ion-icon name="extension-puzzle-outline"></ion-icon>
        Em Desenvolvimento...
      </div>
    </ion-button>

  </div>
</ion-content>
