#imgBck{
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 0;
}
#splash{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
ion-icon{
  font-size: 13rem;
  margin-top: 30vh;
}
ion-button{
  width: 45px;
  height: 45px;
  --padding-start: 7px;
  --padding-end: 7px;
}

