<ion-content [fullscreen]="true">
  <section id="idEmpresa">
    <div>
      <img src="assets/img/logoMarkkar.png" alt="MarkkarLogo">
      <h1>Portal Markkar</h1>
    </div>
    <form  #f="ngForm" (ngSubmit)="enviarLogin(f)" >
      <input ngModel name="login" type="text" placeholder="Digite o seu Login...">
      <input ngModel name="senha" type="password" placeholder="Digite a sua Senha...">
      <span>{{ errLogin }}</span>
      <button type="submit">Entrar</button>
    </form>
  </section>
</ion-content>
