<ion-content>
  <img class="imgBck" id="imgBckW" src="assets/img/backgW/1W.png" alt="">
  <img class="imgBck" id="imgBckD" src="assets/img/backgW/1D.png" alt="">
  <div id="splash">
    <ion-icon style="color: #ff9e19;" name="alert-circle-outline"></ion-icon>
      <span style="z-index: 20;" *ngIf="btn === 'block'"  class="span"><ion-button [ngStyle]="{'display': btn}" (click)="ngOnInit()" expand="block" fill="clear" shape="round"><ion-icon style="margin-top: 0;width: 100%;height: 100%;color: #ff9e19;" name="reload-outline"></ion-icon></ion-button></span>
      <span style="z-index: 20;" *ngIf="btn === 'none'" class="span"><ion-spinner style="color: #ff9e19;margin-top: 13px;"></ion-spinner></span>
  </div>
</ion-content>
