<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/home/caixa-movel/sistema-vendas/atual"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Lista de Itens</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce has-bouncing="false" forceOverscroll="false">
  <div id="produtos">
    <ion-item *ngFor="let produto of produtos" class="produto" lines="full">
      <ion-label>
        {{produto['nome']}}
        <p>Cod: {{produto['cod']}}</p>
        <div
          style="
            display: flex;
            align-items: baseline;
            justify-content: flex-start;
          "
        >
          <div class="addItem">
            <ion-button
              (click)="produto['qnt'] = verificaEstoque(changeQnt(produto['qnt'], 'sub'), produto['qntMax']);totalCar();"
              expand="block"
              fill="clear"
              shape="round"
              ><ion-icon slot="icon-only" name="remove-outline"></ion-icon
            ></ion-button>
            <input
              [value]="produto['qnt']"
              (input)="produto['qnt'] = verificaEstoque(toIntQnt($event.target['value']), produto['qntMax']);totalCar();setCarrinhoStorage()"
              onkeypress="return event.charCode >= 48 && event.charCode <= 57"
              type="text"
              maxlength="6"
              inputmode="numeric"
              pattern="[0-9]+"
            />
            <ion-button
              (click)="produto['qnt'] = verificaEstoque(changeQnt(produto['qnt'], 'add'), produto['qntMax']);totalCar();"
              expand="block"
              fill="clear"
              shape="round"
              ><ion-icon slot="icon-only" name="add-outline"></ion-icon
            ></ion-button>
          </div>
          <ion-button
            (click)="remove(produto)"
            expand="block"
            fill="clear"
            shape="round"
            style="margin-left: 7px; --padding-start: 7px; --padding-end: 7px"
            ><ion-icon
              slot="icon-only"
              color="danger"
              name="trash-outline"
            ></ion-icon
          ></ion-button>
        </div>
      </ion-label>
      <ion-label slot="end"
        >{{convertReal(produto['valor']*produto['qnt'])}}</ion-label
      >
    </ion-item>
  </div>
  <div id="footer">
    <div id="total">
      <h3>Total:</h3>
      <p>{{totalCarrinho}}</p>
    </div>
    <div id="btns">
      <ion-button style="width: 50%;" color="primary" (click)="voltarAtual()"> Voltar </ion-button>
      <ion-button style="width: 50%;" color="primary" (click)="goAdd()"> Adicionar </ion-button>
    </div>
    <div id="btns" style="margin-top: 20px;">
      <ion-button style="width: 100%;" (click)="goPagamentos()"> Pagamento </ion-button>
    </div>
  </div>
</ion-content>
