<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/home/caixa-movel/sistema-vendas/produtos"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Confirme sua venda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="lista">
    <ul>
      <li *ngFor="let produto of produtos">
        <h2>{{produto['nome']}}aaaaaaaaaaaa</h2>
        <p>X{{produto['qnt']}} ---------------- {{convertReal(produto['valor'])}}</p>
      </li>
    </ul>
  </div>

</ion-content>
