<ion-content>
<ion-slides pager="false" [options]="slideOpts">
  <ion-slide>
      <div>
        <img src="assets/img/logoMarkkar.png" alt="MarkkarLogo">
        <h1>Bem-Vindo ao Portal Markkar</h1>
      </div>
    </ion-slide>
    <ion-slide>
      <h2>Para começarmos digite o seu CNPJ</h2>
      <form action="#">
      <input type="text" placeholder="Digite o CNPJ...">
      </form>
    </ion-slide>
    <ion-slide>
      <h2>Agora digite a sua Senha</h2>
      <form action="#">
      <input type="text" placeholder="Digite a Senha...">
      </form>
    </ion-slide>
  </ion-slides>
</ion-content>
