<ion-header>
  <ion-toolbar style="height: auto;">
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="/home/configuracoes"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">preferências</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce has-bouncing="false" forceOverscroll="false">
  <ion-item-group>
    <ion-item-divider>
      <ion-label>Gerais</ion-label>
    </ion-item-divider>
    <ion-item [detail]="false" lines="none" color="secondary">
      <ion-label style="text-transform: none;">Idioma<p class="p">Altera o idioma do aplicativo</p></ion-label>
      <ion-select cancel-text="cancelar" value="Portugues" ok-text="confirmar" interface="popover" (ionChange)="blank()" placeholder="Selecione">
        <ion-select-option value="Portugues">Português</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item [detail]="false" lines="none" color="secondary">
      <ion-label style="text-transform: none;">Tema<p class="p">Altera o tema do aplicativo</p></ion-label>
      <ion-select cancel-text="cancelar" value="auto" ok-text="confirmar" interface="popover" (ionChange)="blank()" placeholder="Selecione">
        <ion-select-option value="auto">Automático (sistema)</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item [detail]="false" (click)="mask = !mask" [button]="true" lines="none" color="secondary">
      <ion-label style="text-transform: none;">Exibir Máscara Monetaria <p class="p">Os valores exibirão uma máscara. Ex: R$, US$...</p></ion-label>
      <ion-toggle checked="{{ mask }}" (ionChange)="setMask($event)"></ion-toggle>
    </ion-item>
    <ion-item [detail]="false" lines="none" [disabled]="mask === true ? false : true" color="secondary">
      <ion-label style="text-transform: none;">Moeda<p class="p">Altera a máscara dos valores</p></ion-label>
      <ion-select cancel-text="cancelar" value="Portugues" ok-text="confirmar" interface="popover" (ionChange)="blank()" placeholder="Selecione">
        <ion-select-option value="Portugues">Real(R$)</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item [detail]="false" (click)="cmvPerc = !cmvPerc" [button]="true" lines="none" color="secondary">
      <ion-label style="text-transform: none;">CMV Porcentual<p class="p">Os valores de CMV serão convertidos para porcentegem.</p></ion-label>
      <ion-toggle checked="{{ cmvPerc }}" (ionChange)="setCMV($event)"></ion-toggle>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider>
      <ion-label>Cabeçalho</ion-label>
    </ion-item-divider>
    <ion-item [detail]="false" lines="none" color="secondary">
      <ion-label style="text-transform: none;">Intervalo<p class="p">Altera o intervalo do cabeçalho</p></ion-label>
      <ion-select cancel-text="cancelar" value="{{valueInterval}}" ok-text="confirmar" interface="popover" (ionChange)="setInterval($event)" placeholder="Selecione">
        <ion-select-option value="year">Anual</ion-select-option>
        <ion-select-option value="month">Mensal</ion-select-option>
        <ion-select-option value="day">Diário</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider>
      <ion-label>Gráfico</ion-label>
    </ion-item-divider>
    <ion-item [detail]="false" lines="none" color="secondary">
      <ion-label style="text-transform: none;">Intervalo<p class="p">Altera o intervalo do gráfico</p></ion-label>
      <ion-select cancel-text="cancelar" [value]="valueGraficoInterval" ok-text="confirmar" (ionChange)="setGraficoInterval($event)" interface="popover" placeholder="Selecione">
        <ion-select-option value="lastFourMonths">Últimos quatro meses</ion-select-option>
        <ion-select-option value="fourMonths">Quadrimestre</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item [detail]="false" lines="none" color="secondary">
      <ion-label style="text-transform: none;">Formato<p class="p">Altera o formato do gráfico</p></ion-label>
      <ion-select cancel-text="cancelar" [value]="chartType" (ionChange)="setGraficoFormat($event)" ok-text="confirmar" interface="popover" placeholder="Selecione">
        <ion-select-option value="line">Linhas</ion-select-option>
        <ion-select-option value="bar">Barras</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item [detail]="false" (click)="graficoYtoggle.checked = !graficoYtoggle.checked" [button]="true" lines="none" color="secondary">
      <ion-label style="text-transform: none;">Exibir valores verticais<p class="p">Será adicionado uma escala na lateral do gráfico</p></ion-label>
      <ion-toggle #graficoYtoggle checked="{{ chartY }}" (ionChange)="setGraficoY($event)"></ion-toggle>
    </ion-item>
  </ion-item-group>
</ion-content>
