<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/caixa-movel/sistema-vendas"></ion-back-button>
    </ion-buttons>
    <ion-title>Configurações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce has-bouncing="false" forceOverscroll="false">
  <ion-item-group>
    <ion-item-divider>
      <ion-label>Status</ion-label>
    </ion-item-divider>
    <ion-item lines="full" color="secondary">
      <ion-label>
        <h2>Conexão</h2>
        <p>Conectando...</p>
      </ion-label>
    </ion-item>
    <ion-item lines="full" color="secondary">
      <ion-label>
        <h2>Servidor</h2>
        <p>192.168.0.1</p>
      </ion-label>
    </ion-item>
    <ion-item-divider>
      <ion-label>Produtos</ion-label>
    </ion-item-divider>
    <ion-item [detail]="false" [button]="true" lines="none" color="secondary">
      <ion-toggle aria-label="Modo Rápido">Modo Rápido <br><span class="descrip">Adiciona o produto diretamente.</span></ion-toggle>
    </ion-item>
  </ion-item-group>
</ion-content>
