<ion-app>
  <ion-menu (ionWillOpen)="ngOnInit()" side="start" menuId="homeMenu" contentId="main">
    <ion-header>
      <ion-toolbar color="dark" style="border-radius: 0 0 30px 0;">
          <div style="padding: 20px 0 20px 0;padding-left: 16px; display: flex; align-items: center; justify-content: flex-start;">
            <ion-avatar style="width: 50px;height: 50px;" slot="start">
              <img src="../../assets/img/avatar.png">
            </ion-avatar>
            <ion-label id="labelAvatar">Olá <p id="pLabelAvatar">, {{name}}</p></ion-label>
          </div>
          <ion-list style="background: var(--ion-color-dark) !important; margin-bottom: 20px;">
            <ion-list-header>
              <ion-label style="margin-top: 0;margin-left: 0px !important;">Multiempresa</ion-label>
              <ion-button (click)="modalOpCl = true" expand="block" fill="clear" shape="round">
                <ion-icon name="create-outline"></ion-icon>
              </ion-button>
            </ion-list-header>
            <ion-menu-toggle>
              <ion-item-sliding *ngFor="let empresa of empresas">
                <ion-item-options side="start">
                  <ion-item-option (click)="deleteEmp(empresa['empresa'], empresa['cnpj'], empresa['token'], empresa['idToken'])" color="danger">Deletar</ion-item-option>
                </ion-item-options>
                <ion-item lines="none" (click)="changeEmpresa(empresa['empresa'], empresa['cnpj'], empresa['token'], empresa['idToken'])" [button]="true" color="secondary"><ion-icon style="margin-right: 10px;" name="{{empresa['icon']}}"></ion-icon>{{empresa['empresa'].toLowerCase()}}</ion-item>
              </ion-item-sliding>
            </ion-menu-toggle>
          </ion-list>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list lines="none" style="margin-top: 20px;">
        <ion-menu-toggle>
          <ion-item [routerLink]="['/home']" [detail]="false" class="pgs" [button]="true">
            <ion-icon slot="start" name="home-outline"></ion-icon>
            <ion-label>home</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-item [detail]="false" (click)="presentToast('Em desenvolvimento...')" class="pgs" [button]="true">
          <ion-icon slot="start" name="person-outline"></ion-icon>
          <ion-label>caixa</ion-label>
        </ion-item>
        <ion-item [detail]="false" (click)="presentToast('Em desenvolvimento...')" class="pgs" [button]="true">
          <ion-icon slot="start" name="receipt-outline"></ion-icon>
          <ion-label>relatórios</ion-label>
        </ion-item>
        <ion-item [detail]="false" (click)="presentToast('Em desenvolvimento...')" class="pgs" [button]="true">
          <ion-icon slot="start" name="pie-chart-outline"></ion-icon>
          <ion-label>estoque</ion-label>
        </ion-item>
      </ion-list>
      <footer id="footer">
        <img id="imgFooter" src="../../assets/img/marca-horizontal-sem-slogan.png" alt="logoMarkkar">
      </footer>
    </ion-content>
  </ion-menu>
  <ion-modal [isOpen]="modalOpCl">
    <ng-template>
      <ion-header>
        <ion-toolbar style="height: 62px;" color="dark">
          <ion-title style="height: 62px;" >Multi Empresa</ion-title>
          <ion-button *ngIf="platform" style="height: 54px; margin: 0; text-transform: uppercase;" slot="end" (click)="modalOpCl = false; redirect()" expand="block" fill="clear" shape="round">nova</ion-button>
          <ion-button *ngIf="!platform" style="height: 54px; margin: 0; text-transform: uppercase;" slot="start" (click)="modalOpCl = false; redirect()" expand="block" fill="clear" shape="round">nova</ion-button>
          <ion-button style="height: 54px; margin: 0; text-transform: uppercase;" slot="end" (click)="modalOpCl = false" expand="block" fill="clear" shape="round">fechar</ion-button>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div *ngFor="let empresa of empresas">
          <ion-item lines="none" color="secondary">
            <ion-label style="font-family: 'robotoBold';">{{empresa['empresa'].toLowerCase()}}</ion-label>
          </ion-item>
          <div>
            <h2>cnpj: {{cnpjMask(empresa['cnpj'])}}</h2>
            <h2>cep:</h2>
            <h2>endereço:</h2>
            <h2>telefone:</h2>
            <h2>email:</h2>
            <div style="display: flex;">
              <h2>icone:</h2>
              <ion-icon style="margin-right: 10px;" name="{{empresa['icon']}}"></ion-icon>
            </div>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-router-outlet id="main"></ion-router-outlet>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
