<ion-header>
  <ion-toolbar color="dark" style="height: auto;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/estoque"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/home/estoque/scanner" [queryParams]="{ id1: idEmpBird, id2: idCc }" routerDirection="back" fill="clear" shape="round"><ion-icon slot="icon-only" style="color: white;" name="barcode-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title mode="ios">produtos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content no-bounce has-bouncing="false" forceOverscroll="false">
  <div class="produtos">
    <ng-container *ngFor="let produto of produtos" >
      <ion-item style="width: 100%" lines="none" color="secondary">
        <ion-label style="
        font-family: 'robotoBold';
        margin: 0;
        margin-bottom: 3px;
        font-size: 1.2rem;
      ">{{produto['NOME_PRODUTO']}}</ion-label>
      </ion-item>
      <div class="informacoes">
        <div class="informacao">
          <h2>valor:</h2>
          <p>{{produto['VALOR']}}</p>
        </div>
        <div class="informacao">
          <h2>quantidade:</h2>
          <p>{{produto['QTD_ESTOQUE']}}</p>
        </div>
        <div class="informacao">
          <h2>unidade:</h2>
          <p>{{produto['UNIDADE']}}</p>
        </div>
        <div class="informacao">
          <h2>codigo:</h2>
          <p>{{produto['COD_BARRA']}}</p>
        </div>
        <div style="margin-bottom: 20px" class="informacao">
          <h2>id:</h2>
          <p>{{produto['COD_PRODUTO']}}</p>
        </div>
      </div>
    </ng-container>
  </div>
</ion-content>
