.produtos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.informacoes{
  width: 90%;
  height: auto;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 10px;
  border: solid orange 1px;
}
.informacao{
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 20px;

  h2{
    font-family: 'robotoBold';
    text-transform: uppercase;
  }

  p{
    margin: 0;
  }
}
