<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/caixa-movel"></ion-back-button>
    </ion-buttons>
    <ion-title>Relatórios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="relatorios">
    <ion-button [routerLink]="['fechamento-caixa']" routerDirection="forward" color="dark">
      <div>
        <ion-icon name="reader-outline"></ion-icon>
        Fechamento de Caixa
      </div>
    </ion-button>
    <ion-button color="dark">
      <div>
        <ion-icon name="extension-puzzle-outline"></ion-icon>
        Em Breve...
      </div>
    </ion-button>
    <ion-button color="dark">
      <div>
        <ion-icon name="extension-puzzle-outline"></ion-icon>
        Em Breve...
      </div>
    </ion-button>
    <ion-button color="dark">
      <div>
        <ion-icon name="extension-puzzle-outline"></ion-icon>
        Em Breve...
      </div>
    </ion-button>
    <ion-button color="dark">
      <div>
        <ion-icon name="extension-puzzle-outline"></ion-icon>
        Em Breve...
      </div>
    </ion-button>
    <ion-button color="dark">
      <div>
        <ion-icon name="extension-puzzle-outline"></ion-icon>
        Em Breve...
      </div>
    </ion-button>

  </div>
</ion-content>
