<ion-content>
  <form #f="ngForm" (ngSubmit)="enviarLogin(f)">
    <swiper id="swiper" #swiper [config]="{initialSlide: 0,speed: 400,allowTouchMove: true}">
      <ng-template swiperSlide>
        <img class="imgSlide" src="../../assets/img/backgW/1.png" alt="">
        <div class="utilitsSlide">
          <div class="headerSlideLogo">
            <img src="../../assets/img/logoMarkkar.png" alt="">
            <h1>bem-vindo,</h1>
            <p>Para começarmos precisamos de algumas informações.</p>
          </div>
          <ion-button expand="block" fill="clear" shape="round" (click)="slideNext()">Próximo</ion-button>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <img class="imgSlide" src="../../assets/img/backgW/2.png" alt="">
        <div class="utilitsSlide">
          <div class="headerSlide">
            <h1>Vamos lá,</h1>
            <p>Primeiramente precisamos que digite seu CNPJ para localizarmos sua empresa.</p>
          </div>
          <div class="contentSlide">
            <ion-item mode="md">
              <ion-label position="floating">Digite seu CNPJ</ion-label>
              <ion-input type="number" (keyup.enter)="slideNext()" ngModel name="cnpj" maxlength="14" (click)="resetColor()" color="{{colorCnpj}}"></ion-input>
            </ion-item>
            <span>{{ cnpjErr }}</span>
            <div class="btnW">
              <ion-button expand="block" fill="clear" shape="round" (click)="slidePrev()">Anterior</ion-button>
              <ion-button expand="block" fill="clear" shape="round" (click)="slideNext()">Próximo</ion-button>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <img class="imgSlide" src="../../assets/img/backgW/3.png" alt="">
        <div class="utilitsSlide">
          <div class="headerSlide">
            <h1>Muito bom,</h1>
            <p>Agora precisamos que digite seu TOKEN para validarmos sua empresa.</p>
          </div>
          <div class="contentSlide">
            <ion-item mode="md">
              <ion-label position="floating">Digite seu TOKEN</ion-label>
              <ion-input ngModel name="token" (keyup.enter)="slideNext()" (click)="resetColor()" color="{{colorTOKEN}}"></ion-input>
            </ion-item>
            <span>{{ err }}</span>
            <div class="btnW">
              <ion-button expand="block" fill="clear" shape="round" (click)="slidePrev()">Anterior</ion-button>
              <ion-button expand="block" fill="clear" shape="round" type="submit">Confirmar</ion-button>
            </div>
          </div>
        </div>
      </ng-template>
    </swiper>
  </form>
</ion-content>
