.showSlide {
  display: block !important;
}
.slide{
  display: none;
}
#tiposVenda {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px 0 60px 0;

  ion-button {
    width: 200px;
    height: 100px;
    margin: 10px 10px;

    div {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      font-weight: 500;
      font-size: 0.7rem;

      ion-icon {
        font-size: 2rem;
        margin-bottom: 12px;
      }
    }
  }
}
#wrpSldBtnClient {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px 0 60px 0;

  ion-button {
    width: 200px;
    height: 100px;
    margin: 10px 10px;

    div {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      font-weight: 500;
      font-size: 0.7rem;

      ion-icon {
        font-size: 2rem;
        margin-bottom: 12px;
      }
    }
  }
}

#wrpClientesBtn {
  margin: 30px 0 100px 0;
  width: 100%;

  span {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  }

  .clientesBtn {
    width: 80%;
    height: 80px;

    ion-label {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      p {
        font-size: .8rem;
      }
    }
  }
}
