<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/caixa-movel"></ion-back-button>
    </ion-buttons>
    <ion-title>Sistema de vendas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="tiposVenda">
    <ion-button color="dark">
      <div>
        <ion-icon name="reader-outline"></ion-icon>
        Nova Venda
      </div>
    </ion-button>
    <ion-button color="dark">
      <div>
        <ion-icon name="reader-outline"></ion-icon>
        Vendas anteriores
      </div>
    </ion-button>
    <ion-button color="dark">
      <div>
        <ion-icon name="reader-outline"></ion-icon>
        Configurações
      </div>
    </ion-button>
  </div>
</ion-content>
