<ion-content [fullscreen]="true">
  <img id="imgBck" src="assets/img/backgW/1.png" alt="">
  <section style="z-index: 10;" id="idEmpresa">
    <ion-item [ngClass]="{'contentSlide': true, 'inputUp': keyHeight, 'inputUpM': keyHeightM}" lines="none" class="emp">
      <img slot="start" src="assets/img/m-markkar.png" alt="MarkkarLogo">
      <ion-label>Seja Bem-vindo, <br> {{empAtual}}.</ion-label>
    </ion-item>
    <form #f="ngForm" (ngSubmit)="enviarLogin(f)">
      <input (click)="colorReset()" [ngStyle]="{'color': colorInput}" ngModel name="user" autocomplete="off" type="text" placeholder="Digite o seu usuario...">
      <input (click)="colorReset()" [ngStyle]="{'color': colorInput}" ngModel name="senha" type="password" placeholder="Digite a sua Senha...">
      <span style="z-index: 10; color: red;font-family: 'robotoBold'; text-transform: uppercase;">{{ errLogin }}</span>
      <ion-button type="submit" expand="block" shape="round">ENTRAR</ion-button>
      <ion-button id="btnAlternate" style="color: white;" (click)="change()" expand="block" fill="clear" shape="round">
        Trocar Empresa
      </ion-button>
    </form>
  </section>
</ion-content>
