/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Swiper */
@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";

@font-face {
  font-family: "robotoLight";
  src: url("assets/fonts/roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "robotoBold";
  src: url("assets/fonts/roboto/Roboto-Bold.ttf");
}
ion-popover {
  --backdrop-opacity: 0.4 !important;
}
ion-item {
  text-transform: capitalize !important;
}
ion-title {
  font-family: "robotoBold" !important;
  text-transform: uppercase !important;
}
ion-label {
  margin-left: 10px !important;
  padding: 8px 0 !important;
  .p {
    font-size: 0.7rem !important;
    font-family: "robotoLight" !important;
    color: rgb(141, 141, 141) !important;
    margin-top: 5px !important;
  }
}
ion-datetime {
  --background: var(--ion-color-step-50) !important;
  --title-color: var(--ion-color-primary) !important;
  --background-rgb: var(--ion-color-step-50) !important;
  text-transform: uppercase;
}
ion-app {
  min-height: 100vh !important;
}
ion-content {
  font-family: robotoLight !important;
  --keyboard-offset: 0 !important;
}
ion-toggle {
  --handle-background: var(--ion-color-primary) !important;
  --handle-background-checked: var(--ion-color-primary) !important;
  --track-background: rgb(65, 47, 15) !important;
  --track-background-checked: rgb(146, 95, 0) !important;
}
ion-button {
  --border-radius: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--ion-text-color);
  line-height: 1;
  margin: 0;
}
.descrip {
  text-transform: none !important;
  font-size: 0.7rem !important;
  font-family: "robotoLight" !important;
  color: rgb(141, 141, 141) !important;
  margin-top: 5px !important;
}
.ion-page {
  min-height: 100vh !important;
}
.scroll-content {
  padding-bottom: 0 !important;
}
html {
  min-height: 100vh !important;
}
html.md {
  min-height: 100vh !important;
}
html.ios {
  min-height: 100vh !important;
}
.datetime-size-fixed {
  max-width: 100% !important;
}
.list-md {
  --color: var(--ion-text-color) !important;
}
.select-interface-option {
  color: var(--ion-text-color) !important;
  --color: var(--ion-text-color) !important;
  --background-focused-opacity: 0.8 !important;
  --background-focused: var(--ion-color-primary) !important;
  --background: transparent !important;
}
.picker-opt.picker-opt-selected,
.picker-prefix,
.picker-suffix {
  color: red;
}

.picker-button.sc-ion-picker-ios,
.picker-button.activated.sc-ion-picker-ios {
  color: red;
}

.interactive.hydrated {
  margin-bottom: 5px !important;
}
.header-md::after {
  /* Removes the toolbar shadow. */
  background: none !important;
}
:host .picker-before {
  --background: red;
}
ion-modal {
  .ion-page {
    min-height: 0 !important;
  }
}
body {
  background: transparent !important;
}
*:focus {
  outline: none;
}
