
#footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  bottom: 40px;
  position: absolute;

  #imgFooter{
    width: 130px;
  }
  #h1Footer{
    margin-top: 5px;
    width: 100%;
    font-family: 'robotoBold';
    text-transform: uppercase;
    font-size: 0.6rem;
    text-align: center;
    color: #434243;
  }
  p{
    margin-top: 5px;
    width: 100%;
    font-family: 'robotoBold';
    text-transform: uppercase;
    font-size: 0.7rem;
    text-align: center;
    color: #434243;
  }
}
