<ion-header>
    <div class="toolbar">
      <ion-menu-button color="primary"><ion-icon name="menu-outline"></ion-icon></ion-menu-button>
      <h1>Markkar</h1>
      <ion-icon class="userIcon" color="primary" name="person-outline"></ion-icon>
    </div>
</ion-header>
<ion-content>
  <section class="section">
    <div class="informacoes">
      <h2>Data 11/02/2022</h2>
      <h2>Unidades</h2>
    </div>
    <div class="unidades">
      <div class="unidade">
        <h2>Loja: Madureira</h2>
        <div class="dados">
          <div class="dado">
            <h3>faturamento:</h3>
            <p>R$ 1.000,00</p>
          </div>
          <div class="dado">
            <h3 id="cmv">cmv:</h3>
            <p>30%</p>
          </div>
          <div class="dado">
            <h3>margem:</h3>
            <p>R$ 300,00</p>
        </div>
        </div>
      </div>
      <div class="unidade">
        <h2>Loja: Barra</h2>
        <div class="dados">
          <div class="dado">
            <h3>faturamento:</h3>
            <p>R$ 2.000,00</p>
          </div>
          <div class="dado">
            <h3 id="cmv">cmv:</h3>
            <p>30%</p>
          </div>
          <div class="dado">
            <h3>margem:</h3>
            <p>R$ 600,00</p>
          </div>
        </div>
      </div>
      <div class="unidade">
        <h2>Loja: Copacabana</h2>
        <div class="dados">
          <div class="dado">
            <h3>faturamento:</h3>
            <p>R$ 3.000,00</p>
          </div>
          <div class="dado">
            <h3 id="cmv">cmv:</h3>
            <p>30%</p>
          </div>
          <div class="dado">
            <h3>margem:</h3>
            <p>R$ 900,00</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</ion-content>
