<ion-content>
  <section>
    <div class="data">
      <h2>Data 11/02/2022</h2>
      <div class="unidades">
        <h2>Unidades</h2>
        <div class="unidade">
          <h2>Loja 1: Madureira</h2>
          <div class="dados">
            <h3>faturamento:</h3>
            <p>R$ 1.000,00</p>
          </div>
          <div class="dados">
            <h3 id="cmv">cmv:</h3>
            <p>30%</p>
          </div>
          <div class="dados">
            <h3>margem:</h3>
            <p>R$ 300,00</p>
          </div>
        </div>
        <div class="unidade">
          <h2>Loja 2: Barra</h2>
          <div class="dados">
            <h3>faturamento:</h3>
            <p>R$ 2.000,00</p>
          </div>
          <div class="dados">
            <h3 id="cmv">cmv:</h3>
            <p>30%</p>
          </div>
          <div class="dados">
            <h3>margem:</h3>
            <p>R$ 600,00</p>
          </div>
        </div>
        <div class="unidade">
          <h2>Loja 3: Copacabana</h2>
          <div class="dados">
            <h3>faturamento:</h3>
            <p>R$ 3.000,00</p>
          </div>
          <div class="dados">
            <h3 id="cmv">cmv:</h3>
            <p>30%</p>
          </div>
          <div class="dados">
            <h3>margem:</h3>
            <p>R$ 900,00</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</ion-content>
