<ion-header>
    <div class="toolbar">
      <ion-menu-button color="primary"><ion-icon name="menu-outline"></ion-icon></ion-menu-button>
      <h1>markkar</h1>
      <ion-button id="userIconBTN" size="small" expand="block" fill="clear" shape="round"><ion-icon class="userIcon" color="primary" name="person-outline"></ion-icon></ion-button>
    </div>
    <ion-popover [dismissOnSelect]="true" trigger="userIconBTN">
      <ng-template>
        <ion-content>
          <ion-list>
            <ion-item color="secondary" (click)="redirect()" [button]="true">
              <ion-label>Opções</ion-label>
            </ion-item >
            <ion-item color="secondary" (click)="presentAlertConfirm()" [button]="true">
              <ion-label>Desconectar</ion-label>
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>
    <header class="headerSection">
      <div id="totalLiquido">
        <h2 *ngIf="contentLoader">{{somaMargemHeader}}</h2>
        <ion-skeleton-text *ngIf="!contentLoader" animated style="width: 140px; height: 24px;"></ion-skeleton-text>
        <p>margem</p>
      </div>
      <div id="total">
        <div>
          <h3 *ngIf="contentLoader">{{ somaFatHeader }}</h3>
          <ion-skeleton-text *ngIf="!contentLoader" animated style="width: 115px; height: 17px;"></ion-skeleton-text>
          <p>faturamento</p>
        </div>
        <div>
          <h3 *ngIf="contentLoader">{{somaCMVHeader}}{{perc}}</h3>
          <ion-skeleton-text *ngIf="!contentLoader" animated style="width: 80px; height: 17px;"></ion-skeleton-text>
          <p>cmv</p>
        </div>
      </div>
    </header>
  </ion-header>

  <ion-content>
    <ion-refresher slot="fixed"(ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <section class="section">
      <div class="unidades">
        <div class="informacoes">
          <ion-button expand="block" fill="clear" shape="round">unidades</ion-button>
          <ion-button id="dateModal" expand="block" fill="clear" shape="round"><ion-icon name="calendar"></ion-icon></ion-button>
          <ion-popover id="date" trigger="dateModal">
            <ng-template>
              <ion-content>
                <ion-datetime value="{{dateValue}}" showDefaultButtons="true" locale="pt-BR" #dateTime (ionChange)="dateChange(dateTime.value)" max="{{ maxDate }}" presentation="date"></ion-datetime>
              </ion-content>
            </ng-template>
          </ion-popover>
        </div>
        <div *ngFor="let unidade of unidades" class="unidade">
          <h2>{{unidade["nome_cc"]}}</h2>
          <div class="dados">
            <div class="dado">
              <h3>faturamento:</h3>
              <p *ngIf="dateLoader">{{ convertInReal(unidade["somaFat"]) }}</p>
              <ion-skeleton-text *ngIf="!dateLoader" animated style="width: 30%"></ion-skeleton-text>
            </div>
            <div class="dado">
              <h3 id="cmv">cmv:</h3>
              <p *ngIf="dateLoader && cmvPerc">{{unidade["cmv_vlr"]}}{{perc}}</p>
              <p *ngIf="dateLoader && !cmvPerc">{{convertInReal(unidade["cmv_vlr"])}}{{perc}}</p>
              <ion-skeleton-text *ngIf="!dateLoader" animated style="width: 30%"></ion-skeleton-text>
            </div>
            <div class="dado">
              <h3>margem:</h3>
              <p *ngIf="dateLoader">{{ convertInReal(unidade["somaMargem"]) }}</p>
              <ion-skeleton-text *ngIf="!dateLoader" animated style="width: 30%"></ion-skeleton-text>
            </div>
          </div>
        </div>
        <div *ngIf="!contentLoader" class="unidade">
          <ion-skeleton-text color="dark" animated style="width: 70%; height: 19px;"></ion-skeleton-text>
          <div class="dados">
            <div class="dado">
              <h3>faturamento:</h3>
              <ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text>
            </div>
            <div class="dado">
              <h3 id="cmv">cmv:</h3>
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            </div>
            <div class="dado">
              <h3>margem:</h3>
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            </div>
          </div>
        </div>
        <div *ngIf="contentLoader" id="totalUnid">
          <h2>total</h2>
          <div id="dadosTotal">
            <div class="dadoTotal">
              <h3>faturamento:</h3>
              <p *ngIf="dateLoader">{{ somaFatTotal }}</p>
              <ion-skeleton-text *ngIf="!dateLoader" animated style="width: 30%"></ion-skeleton-text>
            </div>
            <div class="dadoTotal">
              <h3>CMV:</h3>
              <p *ngIf="dateLoader">{{somaCMVTotal}}{{perc}}</p>
              <ion-skeleton-text *ngIf="!dateLoader" animated style="width: 30%"></ion-skeleton-text>
            </div>
            <div class="dadoTotal">
              <h3>margem:</h3>
              <p *ngIf="dateLoader">{{ somaMargemTotal }}</p>
              <ion-skeleton-text *ngIf="!dateLoader" animated style="width: 30%"></ion-skeleton-text>
            </div>
          </div>
        </div>
        <div *ngIf="!contentLoader" id="totalUnid">
          <h2>total</h2>
          <div id="dadosTotal">
            <div class="dadoTotal">
              <h3>faturamento:</h3>
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            </div>
            <div class="dadoTotal">
              <h3>CMV:</h3>
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            </div>
            <div class="dadoTotal">
              <h3>margem:</h3>
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            </div>
          </div>
        </div>
    </div>
  </section>
</ion-content>
