h2, h3{
  /*color: rgb(235, 235, 235);*/
}
ion-item{
  text-transform: capitalize;
}
ion-title{
  font-family: 'robotoBold';
  text-transform: uppercase;
}
ion-content {
  /*--background: var(--ion-color-dark2);*/
}
ion-list{
  /*--background: var(--ion-color-dark2);*/
  padding: 0;
}
ion-button.ios{
  margin-top: 6px;
  margin-bottom: 14px;
}
#labelAvatar{
  display: flex;
  align-items: baseline;
  margin-left: 0px;
  padding: 18px 0;
  font-size: 1rem;
  font-family: 'robotoBold';
  #pLabelAvatar{
    font-size: 1.3rem;
    color: var(--ion-text-color);
    text-transform: capitalize;
  }
}
.ion-color-secondary {
  /*--ion-color-base: transparent !important;*/
}
#footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  bottom: 40px;
  position: absolute;

  #imgFooter{
    width: 100px;
  }
}
.pgs{
  margin: 13px 0;

  ion-label{
    margin-left: 0px !important;
    font-family: 'robotoBold';
  }
}
.empresa{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
.informacoes{
  width: 90%;
  height: auto;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 10px;
  border: solid orange 1px;
}
.informacao{
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 20px;

  h2{
    font-family: 'robotoBold';
    text-transform: uppercase;
  }

  p{
    margin: 0;
  }
}
.informacaoIcon{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;

  h2{
    font-family: 'robotoBold';
    text-transform: uppercase;
  }

  ion-icon{
    font-size: 2rem;
  }
}
.informacaoUnids{
  width: 100%;
  margin-top: 20px;

  .unids{
    width: 100%;

    h2{
      margin-top: 15px;
      font-family: 'robotoBold';
      text-transform: capitalize;
    }

    .informacaoUnid{
      width: 100%;
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      margin-top: 20px;

      h3{
        margin-top: 10px;
        font-family: 'robotoBold';
      }

      p{
        text-align: right;
        margin: 0;
      }
    }
  }
}
