<ion-header color="dark" >
  <ion-toolbar color="dark" style="height: auto;">
    <ion-buttons slot="start">
      <ion-back-button (click)="enableMenu()" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">configurações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item [detail]="false" (click)="redirect()" lines="none" color="secondary" [button]="true">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Preferência <p class="p">Idioma, Moeda, tela inicial ...</p></ion-label>
    </ion-item>
    <ion-item lines="none" [detail]="false" (click)="presentToast('Em desenvolvimento...')" color="secondary" [button]="true">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>notificações  <p class="p">notificações, alertas, email ...</p></ion-label>
    </ion-item>
    <ion-item lines="none" [detail]="false" (click)="presentToast('Em desenvolvimento...')" color="secondary" [button]="true">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-label>Segurança  <p class="p">alterar senha ...</p></ion-label>
    </ion-item>
  </ion-list>
  <footer id="footer">
    <img id="imgFooter" src="../../assets/img/marca-horizontal-sem-slogan.png" alt="logoMarkkar">
    <h1 id="h1Footer">Copyright © Markkar Consultoria Financeira e Sistemas.</h1>
    <p>1.12.33</p>
  </footer>

</ion-content>
